/* for heading font-family: 'Girassol', cursive;
fir other font-family: 'KoHo', sans-serif;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);

*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;

}

html {
  scroll-behavior: smooth;
}

p {
  font-size: 18px;
}

nav .logoo {
  width: 290px;
  height: 50px;
}

nav .fa {
  font-weight: 100;
  font-size: 25px;
  color: #fff;
}

nav {
  background-image: radial-gradient(circle at 85% 1%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 96%, transparent 96%, transparent 100%), radial-gradient(circle at 14% 15%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 1%, transparent 1%, transparent 100%), radial-gradient(circle at 60% 90%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 20%, transparent 20%, transparent 100%), radial-gradient(circle at 79% 7%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 78%, transparent 78%, transparent 100%), radial-gradient(circle at 55% 65%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 52%, transparent 52%, transparent 100%), linear-gradient(135deg, rgb(37, 56, 222), rgb(96, 189, 244));
  font-family: 'KoHo', sans-serif;
  webkit-box-shadow: 0px 10px 19px 0px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 10px 19px 0px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 10px 19px 0px rgba(0, 0, 0, 0.52);
  outline: none;
}

.nav-link {
  color: #fff !important;
  font-family: 'KoHo', sans-serif;
}

.main {
  height: 100vh;
  position: relative;
  width: 100%;
  background-image: linear-gradient(135deg, rgb(37, 56, 222, 0.4), rgb(96, 189, 244, 0.8));
  color: #fff;
  text-align: center;
}

.main h1 span {
  font-weight: bold;
}

.mainp {
  text-align: justify;
}

.maincontent a {
  color: #fff;

  font-size: 16px;
  font-weight: bold;
}

.maincontent a:hover {
  color: #fff;
  font-weight: bolder;
  font-size: 18px;
  text-decoration: none;
  transition: 1s ease;
}

.socialicon {
  width: 35px;

}

.banerimg {
  width: 320px;
}

.btn {
  background-image: linear-gradient(135deg, rgb(37, 56, 222), rgb(96, 189, 244));
  border-radius: 250px !important;
  box-shadow: 0px 10px 19px 0px rgba(0, 0, 0, 0.52);
}

.box-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 20s linear infinite;
  bottom: -150px;
}

.box-area li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.box-area li:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}

.box-area li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
  left: 42%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}

.box-area li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}

.box-area li:nth-child(6) {
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}

p span h1 {
  display: inline-block !important;

}

.maincontent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner {
  position: relative;
  width: 100%;
  height: 90vh;
  color: white;
}

.banner:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -2;
  background-image: linear-gradient(45deg, rgb(252, 209, 5) 0%, rgb(252, 209, 5) 6%, rgb(246, 177, 19) 6%, rgb(246, 177, 19) 19%, rgb(240, 146, 32) 19%, rgb(240, 146, 32) 41%, rgb(235, 114, 46) 41%, rgb(235, 114, 46) 55%, rgb(229, 83, 59) 55%, rgb(229, 83, 59) 94%, rgb(223, 51, 73) 94%, rgb(223, 51, 73) 100%);
}

.bimg {
  width: 300px;
}

.banner1 {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.banner h1 {
  font-size: 50px;
}

.banner span {
  background: #FF8C00;
  padding: 5px;
  border-radius: 5px 12px 5px 12px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.banner p {
  font-size: 20px;
}

.banner button a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.smbutn {
  margin-top: 30px;

}

.mcontact {
  background-image: radial-gradient(circle at 85% 1%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 96%, transparent 96%, transparent 100%), radial-gradient(circle at 14% 15%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 1%, transparent 1%, transparent 100%), radial-gradient(circle at 60% 90%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 20%, transparent 20%, transparent 100%), radial-gradient(circle at 79% 7%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 78%, transparent 78%, transparent 100%), radial-gradient(circle at 55% 65%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 52%, transparent 52%, transparent 100%), linear-gradient(135deg, rgb(37, 56, 222), rgb(96, 189, 244));
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

label {
  color: #fff;
}

.minicontact {
  padding-top: 25px;
  padding-bottom: 20px;
  
}

small .form-text {
  color: #fff !important;
}

#services {
  width: 100%;
  padding-bottom: 50px;
  
}

.mainhead {
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
}

.shead {
  text-align: center;

  color: rgb(37, 56, 222);
}

.miniserv p {
  text-align: justify;
  color: rgb(96, 189, 244);
}

.simg {
  width: 90px;
}

.scol {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  padding-bottom: 20px;
  border-radius: 20px;
}

.scol:hover {
  color: white !important;
  background-image: radial-gradient(circle at 85% 1%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 96%, transparent 96%, transparent 100%), radial-gradient(circle at 14% 15%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 1%, transparent 1%, transparent 100%), radial-gradient(circle at 60% 90%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 20%, transparent 20%, transparent 100%), radial-gradient(circle at 79% 7%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 78%, transparent 78%, transparent 100%), radial-gradient(circle at 55% 65%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 52%, transparent 52%, transparent 100%), linear-gradient(135deg, rgb(37, 56, 222), rgb(96, 189, 244));

}

.scol p:hover {
  color: #fff;
}

.scol h3:hover {
  color: #fff;
}

.sbtn {
  margin-top: 20px;
  text-align: center;
  
}

.simgg {
  width: 35px;
}
.sbtn a{
  color:#fff;
}
.sbtn a:hover{
  color: #fff;
  text-decoration: none;
}
#advbnr {
  background-image: radial-gradient(circle at 85% 1%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 96%, transparent 96%, transparent 100%), radial-gradient(circle at 14% 15%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 1%, transparent 1%, transparent 100%), radial-gradient(circle at 60% 90%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 20%, transparent 20%, transparent 100%), radial-gradient(circle at 79% 7%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 78%, transparent 78%, transparent 100%), radial-gradient(circle at 55% 65%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 52%, transparent 52%, transparent 100%), linear-gradient(135deg, rgb(37, 56, 222), rgb(96, 189, 244));
  color: #fff;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 50px;
  
}

#work {
  background: #f6efef;
  width: 100%;
  color: #181818;
  padding-bottom: 60px;
}

.wimg {
  width: 380px;
  padding-top: 10px;

}

.wdiv {
  background: #f0e2e1;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 10px;
}

.wdiv .fa {
  font-size: 30px;
  color: #4fc4cf;
}

#feature {
  width: 100%;
  background: #fef6e4;
  padding-bottom: 50px;
}

.fimg {
  width: 400px;
}

#feature .fa {
   background-image: radial-gradient(circle at 85% 1%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 96%,transparent 96%, transparent 100%),radial-gradient(circle at 14% 15%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 1%,transparent 1%, transparent 100%),radial-gradient(circle at 60% 90%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 20%,transparent 20%, transparent 100%),radial-gradient(circle at 79% 7%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 78%,transparent 78%, transparent 100%),radial-gradient(circle at 55% 65%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 52%,transparent 52%, transparent 100%),linear-gradient(135deg, rgb(37, 56, 222),rgb(96, 189, 244));
  padding: 20px;
  font-size: 20px;
  color: #fff;
  border-radius:50px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
}
  .tech{
    width: 100%;
  padding-bottom:90px;
  padding-top:2px;
    background-image: radial-gradient(circle at 85% 1%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 96%,transparent 96%, transparent 100%),radial-gradient(circle at 14% 15%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 1%,transparent 1%, transparent 100%),radial-gradient(circle at 60% 90%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 20%,transparent 20%, transparent 100%),radial-gradient(circle at 79% 7%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 78%,transparent 78%, transparent 100%),radial-gradient(circle at 55% 65%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 52%,transparent 52%, transparent 100%),linear-gradient(135deg, rgb(37, 56, 222),rgb(96, 189, 244));
}
.tech h1{
  color: #fff;
  font-weight: bold;
}
.tech img{
  width:80px;
}
#how{
  background: #f2f7f5;
  padding-top: 10px;
  padding-bottom: 50px;
  width: 100%;
}
.div1 .fa{
  font-size:50px;
  border:1px solid dimgray;
  text-align: center;
  padding: 25px;
  border-radius: 60px;
  position: relative;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  
}
 .div2 h2{
   background-image: radial-gradient(circle at 85% 1%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 96%,transparent 96%, transparent 100%),radial-gradient(circle at 14% 15%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 1%,transparent 1%, transparent 100%),radial-gradient(circle at 60% 90%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 20%,transparent 20%, transparent 100%),radial-gradient(circle at 79% 7%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 78%,transparent 78%, transparent 100%),radial-gradient(circle at 55% 65%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 52%,transparent 52%, transparent 100%),linear-gradient(135deg, rgb(37, 56, 222),rgb(96, 189, 244));
   top:-10px;
   text-align: center!important;
   position: absolute;
  
   color:#fff;
   padding: 5px;
   font-weight: bolder;
   border-radius: 30px;
  
 }
 #how h3 ,p{
   text-align: justify;
 }
 .quote{
  width: 100%;
  text-align:justify;
  position:relative;
  padding-bottom:50px;
}
.fr label{
  font-size: 18px;
  color:#1326F98C;
}
.fr label sup{
  color: red!important;
font-size: 25px;

}
.fr .container{
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
      padding-top: 20px;
      padding-bottom: 20px;
      border-radius: 10px;
      background: #fff;
}
.quote::before{
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  background:linear-gradient(360deg, #1326F98C 50%, #fff 10% );
  z-index: -5;
}
.bsubmit{
  background: #1326F98c;
}
.footer{
  width: 100%;
  padding-bottom: 20px;
 
 background-image: radial-gradient(circle at 85% 1%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 96%,transparent 96%, transparent 100%),radial-gradient(circle at 14% 15%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 1%,transparent 1%, transparent 100%),radial-gradient(circle at 60% 90%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 20%,transparent 20%, transparent 100%),radial-gradient(circle at 79% 7%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 78%,transparent 78%, transparent 100%),radial-gradient(circle at 55% 65%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 52%,transparent 52%, transparent 100%),linear-gradient(135deg, rgb(37, 56, 222),rgb(96, 189, 244));
}
.logoo{
  font-size:30px;
}
.logoo  .log{
  color: #fff;
  font-family: 'Pacifico', cursive;
}
.footerabt{
  color:white;
  text-align:justify;
  
}
.foot-1{
  color:#fff;
  
}
.foot-1 h3{
  font-weight: bolder!important;
}
.foot-1 ul li a{
  color:white;
  font-size: 20px;
  cursor: pointer;
}
.foot-1 ul li{
  list-style:none;
}
.foot-1 ul li .fa{
  font-size:20px;
  padding-right:10px;
  color: #fFF!important;
}
.foot-2{
  padding: 10px 50px;
  background: linear-gradient(135deg, rgb(37, 56, 222),rgb(96, 189, 244));
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}
.foot-2 ul li {
  
  list-style: none;
  
}
.foot-2 ul{
  display:flex;
  justify-content: Center;
}
.foot-2 ul li a{
  color:#fff;
}
.payment{
  display:flex;
  justify-content:left;
}
.qserve img{
  width: 100px;
}
 .abar {
  background:#FF8C00;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom:10px;
  left: 10px;
  z-index: 2;
  cursor:pointer;
 border-radius:70px;
 
}
.abar .fa{
  font-size: 20px;
  color: #fff;
  padding:15px;
  font-weight: 100;
  transition: 25ms ease-in;
}

.abar .fa:hover{
  transform: rotate(120deg);
}
 .atag{
  position: fixed;
  bottom:50px;
  left: 50px;
  width: 25%;
  z-index: 2;
  background: #fff;
  border-radius:20px;
  overflow: hidden;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  display:none;
  transform:transition 1s ease;
}
.atag ul li{
  list-style: none;
  padding: 5px;
}
.atag ul li a{
  color: gray;
  text-decoration: none;
  font-size: 20px;
  
}
.atag ul li a .fa{
  color:orange!important;
  padding-right: 10px;
  font-size: 20px;
}
.atag ul li a:hover{
  color:#000;
  font-weight: bold;
  
}
.top{
  background:#FF8C00;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom:10px;
  right: 10px;
  z-index: 2;
  cursor:pointer;
  border-radius:70px;
 
  
}
.top .fa{
  padding: 15px;
  color:#fff;
  font-size: 20px;
  font-weight:100;
}

.top:hover{
  background: transparent;
  transition: all;
  
}

.logoo{
  width: 250px;
}

.emailsub{
  background: rgba(251, 247, 247, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(16.5px);
  -webkit-backdrop-filter: blur(16.5px);
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding:20px;
  margin-top:20px;
}
#newsletter{
  width:100%;
  position:relative;
  padding-bottom:150px;
  padding-top: 20px;
  background-image:url('img/Newsletter.png');
  background-size: cover;
  background-repeat: no-repeat;
}
#about{
  width:100%;
  background-image:linear-gradient(rgba(37,56,222,0.5),rgba(96,189,244,0.4)),url('img/About.png');
  background-size: cover;
  background-attachment: center;
  backface-visibility:no-repeat;
  height:250px;
  display:flex;
  color:#fff;
  font-weight: bold;
}
#about h1{
  margin-top: 60px;
  color:#fff;
}
#about a{
  color: #fff!important;
}
.aboutimgg{
  width: 300px;
}
.aboutfeat li{
  list-style-type: none;
}

.aboutfeat li .fa{
  color:rgba(37, 56, 222, 0.5);
  margin-right:10px;
  font-size:25px;
}

.socialicon{
  display: flex;
}

.socialicon li{
  list-style: none;
}
.socialicon li a{
position: relative;
width:60px;
height:60px;
text-align:center;
margin:0 10px;
border-radius: 50%;
padding: 6px;
box-sizing: border-box;
text-decoration:none;
box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
background: linear-gradient(0deg, #ddd, #fff);
transition: .5s;
display: block;
}

.socialicon li a .fa{
  width: 100%;
  height:100%;
 display: block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size:24px;
  color: #262626;
  transition: .5s;
  }
  
  .socialicon li a:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-decoration: none;
  }
  
  .socialicon li:nth-child(2) a .fa{
    color: #3b5998;
  }
  
  ul li:nth-child(1) a .fa {
    color:#c32aa3;
  }
  
  ul li:nth-child(3) a .fa {
    color: #ff0000;
  }
  
  ul li:nth-child(4) a .fa {
    color: #25d366;
  }
  
  ul li a:hover .fa {
    color: #000;
  }
  #thanks{
    width: 100%;
    background-image: url('img/thanks.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:80vh;
    text-align: center;
    position: relative;
  }
  #thanks .thankyou{
    
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: rgba(251, 247, 247, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(16.5px);
    -webkit-backdrop-filter: blur(16.5px);
    border-radius: 10px;
    padding: 20px;
    
  }
  #thanks button a{
    color:#fff;
  }
  #thanks .socialicon{
    position: absolute;
    
    left:20%;
    transform: translate(-20%);
  }
  #contactus .socialicon{
    position: absolute;
    
    left:20%;
    transform: translate(-20%);
  }
  #contactus{
    position: relative;
    
  }
  .cu2{
    width: 200px;
  }
  
  .cdetails{
      background: rgba(251, 247, 247, 0.2);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(16.5px);
      -webkit-backdrop-filter: blur(16.5px);
      border-radius: 10px;
     padding: 20px;
     font-size:20px;
  }
  
  #error{
    position: relative;
    width: 100%;
    height:100vh;
    text-align: center;
    background: #faeee7;
    font-weight: 500;
    color: #07C9EAE6;
  }
  
  .errordiv{
    position: absolute;
    
   top:50%;
   left: 50%;
   transform: translate(-50%,-50%);
    
  }
  .errorimg{
    width:400px;
  }
  .btndiv a{
    color:#fff;
  }
  .serimg{
    width:400px;
  }
  #wdd{
    width: 100%;
    text-align: center;
    padding-bottom: 25px;
  }
  #wdd .btn a{
    color: #fff;
    text-decoration: none;
  }
  .loader{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: radial-gradient(circle at 85% 1%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 96%,transparent 96%, transparent 100%),radial-gradient(circle at 14% 15%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 1%,transparent 1%, transparent 100%),radial-gradient(circle at 60% 90%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 20%,transparent 20%, transparent 100%),radial-gradient(circle at 79% 7%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 78%,transparent 78%, transparent 100%),radial-gradient(circle at 55% 65%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 52%,transparent 52%, transparent 100%),linear-gradient(135deg, rgb(37, 56, 222),rgb(96, 189, 244));
    border-radius:0;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration:3s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);

}
@keyframes rotate{
  0%{
    transform: rotate(0deg);
    border-radius: 0;
   
  }
  25%{
    transform: rotate(45deg);
    border-radius: 0;
    border-top-left-radius: 50%;
   
  }
  50%{
    transform: rotate(90deg);
    border-radius: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  75%{
    transform: rotate(135deg);
    border-radius: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  100%{
    transform: rotate(180deg);
    border-radius:0;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
  }
}
.popupq{
  background: linear-gradient(rgba(37,56,222,0.5),rgba(96,189,244,0.4));
  position:fixed;
  width: 100%;
  height:100vh;
  z-index:1111;
  display: none;
  cursor: pointer;
}
.popupForm{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 50px;
  border-radius: 25px;

background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.btn-danger{
  background:#D30A0AC4;
}
.closeForm{
  color:#476EC9B3;
  font-size: 30px;
  position: absolute;
  right: 0%;
  top:-5px;
}
.notificationimg{
  width: 100px;
}
.waicon {
    position: fixed;
    color:#fff;
    font-size: 40px;
    z-index: 1;
    cursor: pointer;
    bottom: 20px;
    right: 20px;
  
  }
  .waicon .fa{
    background:#25D366;
    padding: 12px;
    border-radius: 100px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  }
  #whatsapp-popup{
    position: fixed;
    width: 380px;
    height: 400px;
    background-image: url('img/Wabg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    bottom:100px;
    right: 20px;
    display: none;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);

z-index: 1;
  }
 .wainnertop{
    background: #25D366;
    width:100%;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
    
  }
  .chaticon{
    width: 50px;
    background:#fff;
    padding: 10px;
    border-radius: 20px;
  }
  .wacontent{
    display:flex;
    align-items: center;
    color:#fff;
  }
  .cross{
    color: gray;
    position: absolute;
    cursor: pointer;
    top:10px;
    left:95%;
  }
  .online{
    color:#25D366;
    background: #25D366;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    position: absolute;
    top:60px;
    left:50px;
    border: 1px solid #fff;
  }
  .wamiddle{
    width: 150px;
    height: 120px;
    background: #fff;
    position: absolute;
    top:120px;
    left: 8%;
    padding-left: 8px;
    border-top-right-radius:5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 2px;
    line-height: 20px;
    
  }
  .wamiddle .uc{
    font-size: 15px;
    color: gray;
  }
  .time{
    font-size: 15px;
    color: gray;
    position: absolute;
    left: 115px;
    }
  .wabottom{
      background: #fff;
      width:100%;
      height: 80px;
border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      position: absolute;
      bottom: 0px;
  }
  .wabottom{
    display: flex;
    justify-content:space-around;
    align-items: center;
    
  }
  .wabottom .fa{
    padding-left: 30px;
    position: absolute;
    top: 50%;
   translate: transform(-50%);
  }
  .top-notification{
    width: 100%;
    text-align: center;
    z-index:1111;
    position: fixed;
  background-image: radial-gradient(circle at 85% 1%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 96%, transparent 96%, transparent 100%), radial-gradient(circle at 14% 15%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 1%, transparent 1%, transparent 100%), radial-gradient(circle at 60% 90%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 20%, transparent 20%, transparent 100%), radial-gradient(circle at 79% 7%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 78%, transparent 78%, transparent 100%), radial-gradient(circle at 55% 65%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 52%, transparent 52%, transparent 100%), linear-gradient(135deg, rgb(37, 56, 222), rgb(96, 189, 244));
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    padding:10px;
    display: none;
  }
  .top-notification a{
    color:#fff;
    text-decoration: none;
    
  }
  
  .top-notification h1{
    font-size: 20px;
    font-weight: bold;
    color:#fff;
  }
  #offer{
    width: 100%;
    text-align: center;
    height: 70vh;
    position:relative;
  }
 #offer h1{
   color: red;
   text-align: center;
 }
 #offer p{
   color: gray;
   text-align: center;
 }
 .offerdiv{
   position: absolute;
   top: 50%;
   left:50%;
   transform: translate(-50%,-50%);
 }
 #feedback a{
 color:#fff;
 }
 .fcontent{
   position: fixed;
   bottom:50%;
   right: 0%;
   cursor: pointer;
z-index: 111;
   
   
   
 }
 .hide{
   color:#FF0000;
   font-weight: bold;
   position: absolute;
   top:3px;
   left: -15px;
   font-size: 20px;
   cursor: pointer;
   
   
 }
 .fcontent h2{
   font-size: 22px!important;
 }
 #career h1{
   text-align: center;
   
 }
  #career p {
    text-align: center;
 
  }
 .carimg{
   width:100%;
 }
 #career{
   width: 100%;
   background-image: linear-gradient(157.5deg, rgb(95, 97, 179) 0%, rgb(95, 97, 179) 16%,rgb(115, 120, 184) 16%, rgb(115, 120, 184) 20%,rgb(135, 142, 188) 20%, rgb(135, 142, 188) 32%,rgb(155, 165, 193) 32%, rgb(155, 165, 193) 38%,rgb(175, 187, 198) 38%, rgb(175, 187, 198) 48%,rgb(195, 210, 203) 48%, rgb(195, 210, 203) 51%,rgb(215, 232, 207) 51%, rgb(215, 232, 207) 59%,rgb(235, 255, 212) 59%, rgb(235, 255, 212) 100%),linear-gradient(432deg, rgb(95, 97, 179) 0%, rgb(95, 97, 179) 16%,rgb(115, 120, 184) 16%, rgb(115, 120, 184) 20%,rgb(135, 142, 188) 20%, rgb(135, 142, 188) 32%,rgb(155, 165, 193) 32%, rgb(155, 165, 193) 38%,rgb(175, 187, 198) 38%, rgb(175, 187, 198) 48%,rgb(195, 210, 203) 48%, rgb(195, 210, 203) 51%,rgb(215, 232, 207) 51%, rgb(215, 232, 207) 59%,rgb(235, 255, 212) 59%, rgb(235, 255, 212) 100%),linear-gradient(112.5deg, rgb(95, 97, 179) 0%, rgb(95, 97, 179) 16%,rgb(115, 120, 184) 16%, rgb(115, 120, 184) 20%,rgb(135, 142, 188) 20%, rgb(135, 142, 188) 32%,rgb(155, 165, 193) 32%, rgb(155, 165, 193) 38%,rgb(175, 187, 198) 38%, rgb(175, 187, 198) 48%,rgb(195, 210, 203) 48%, rgb(195, 210, 203) 51%,rgb(215, 232, 207) 51%, rgb(215, 232, 207) 59%,rgb(235, 255, 212) 59%, rgb(235, 255, 212) 100%),linear-gradient(387deg, rgb(236, 151, 145),rgb(201, 243, 43)); background-blend-mode:overlay,overlay,overlay,normal;
   padding-bottom: 20px;
 }
 #career label{
   color: #4453F4;
 }
 .carform{
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
   border-radius:20px;
   padding-top: 15px;
   padding-bottom: 15px;
 }
 
 .plan2{
text-align: center!important;
 }
 .logoclass{
  width: 60px;
  
 }
 .bestbypackage{
  text-align: center;
  border: solid;
  padding: 5px;
  width: 150px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: bold;
background-image: radial-gradient(circle at 85% 1%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 96%,transparent 96%, transparent 100%),radial-gradient(circle at 14% 15%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 1%,transparent 1%, transparent 100%),radial-gradient(circle at 60% 90%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 20%,transparent 20%, transparent 100%),radial-gradient(circle at 79% 7%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 78%,transparent 78%, transparent 100%),radial-gradient(circle at 55% 65%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 52%,transparent 52%, transparent 100%),linear-gradient(135deg, rgb(37, 56, 222),rgb(96, 189, 244));
 }
 #plan ul{
  list-style-type: none;
 }
 #plan ul li{
  font-size: 20px;
  text-align: justify;

 }
  #plan ul li .fa{
  color: green;

 }
 .cardd{
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
 }